{% extends "card-base.html.twig" %}

{% block title %}Weather Cards{% endblock %}

{% block card_title %}{{ card.Weather }}{% endblock %}

{% block card_badges %}
    {% if card.Time == 'Day' %}☀️{% else %}🌙{% endif %}
    {% if card['Athletics penalty'] != '' %}
        {% for i in 1..card['Athletics penalty']|abs %}
            <img src="../images/ath-penalty.svg" alt="Athletics penalty" class="title-icon"/>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block card_classes %}
    {% if card.Note|length < 100 %}size-small{% else %}size-medium{% endif %}
    {{ card.Weather|lower }}
{% endblock %}

{% block card_body %}
<div class="card-body">

    <div class="stats-grid">
        <div class="stat-group">
        {% if card.Hazard.Trauma != '' %}
            <h3>Environmental damage {{ card.Hazard.Damage }}</h3>
            <div class="stat-row">
                <span class="stat-label">Stamina+Resistance</span>
                <span class="stat-value">difficulty {{ card.Hazard.Trauma }}</span>
            </div>
            <div class="stat-comment">Each {{ card.Hazard.Trauma }} successes decreases damage for one type (A &gt; L &gt; B &gt; *)</div>
        {% endif %}
        {% if card['Athletics penalty'] != '' %}
            <h3>Athletics difficulty +{{ card['Athletics penalty']|abs }}</h3>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block card_footer %}
    {% if card.Note and card.Note != '' %}
        <div class="note-section">
            {{ card.Note }}
        </div>
    {% endif %}

    {% if card.Location and card.Location != '' %}
        <div class="note-section">
            <div class="note-title">Location:</div>
            {{ card.Location }}
        </div>
    {% endif %}
{% endblock %}