{% import 'characters/_characters_macros.html.twig' as R %}

<div class="roll-stats">
    <span class="roll-stat stat-wound-penalties"><span class="value">{{ R.woundPenalty(woundPenalty) }}</span></span>

    <span class="roll-stat">{% block value %}{% endblock %}</span>

    {% if speed is not same as(null) and speed is not same as(false) and speed is not same as('') %}
        <span class="roll-stat"><span class="label">Speed:</span> <span class="value">{{ speed }}</span></span>
    {% endif %}

    {% if difficulty is not same as(null) and difficulty is not same as(false) and difficulty is not same as('') %}
        <span class="roll-stat"><span class="label">Diff:</span> <span
                class="value">{{ difficulty }}</span></span>
    {% endif %}

    {% if penalty is not same as(null) and penalty is not same as(false) and penalty is not same as('') %}
        <span class="roll-stat"><span class="label">DV:</span> <span
                class="value">{{ penalty }}</span></span>
    {% endif %}

    {% if external is not same as(null) and external is not same as(false) and external is not same as('') %}
        <span class="roll-stat"><span class="label">Ext:</span> <span
                class="value">{{ external }}</span></span>
    {% endif %}
</div>