{% macro dots(val, max, twoLines = false) %}
    {% set v = (val is defined and val is not same as(false) and val is not same as('')) ? (val) : 0 %}
    {% set m = max is defined ? max : 5 %}
    {% set m = m|round(0, 'ceil') %}

    {% if twoLines and val <= 5 %}
        {% set m = 5 %}
    {% endif %}
    <span class="rating">
    {% for i in 1..m %}
      {% if i <= v %}<span class="filled">●</span>{% else %}<span class="empty">○</span>{% endif %}
        {% if i == 5 and not loop.last %}
            {% if twoLines %}<br>{% else %}&nbsp;{% endif %}
        {% endif %}
    {% endfor %}
    </span>
{% endmacro %}

{% macro columnBlockStats(title, data, stats, maxRatings, twoLines = false) %}
  <div class="stat-group col">
    <h3>{{ title }}</h3>
    <div class="stat-row">
      {% for statName in stats %}
        <div class="stat-label">{{ statName }}</div>
        <div class="stat-value">{{ _self.dots(data[statName], maxRatings, twoLines) }}</div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro shields(val, maxval) %}
    {% set v = (val is defined and val is not same as(false) and val is not same as('')) ? (val) : 0 %}
    {% set m = maxval is defined ? max(val, maxval) : val %}
    {% set m = m|round(0, 'ceil') %}
    <span class="rating shields">
    {% for i in 1..m %}
        {% if i <= v %}<span class="filled">🛡</span>{% else %}<span class="empty">⬜</span>{% endif %}
    {% endfor %}
  </span>
{% endmacro %}

{% macro swords(val, maxval) %}
    {% set v = (val is defined and val is not same as(false) and val is not same as('')) ? (val) : 0 %}
    {% set m = maxval is defined ? max(val, maxval) : val %}
    {% set m = m|round(0, 'ceil') %}
    <span class="rating swords">
    {% for i in 1..m %}
        {% if i <= v %}<span class="filled">⚔</span>{% else %}<span class="empty">⬜</span>{% endif %}
    {% endfor %}
  </span>
{% endmacro %}

{% macro soak(val, maxval) %}
    {% set v = (val is defined and val is not same as(false) and val is not same as('')) ? (val) : 0 %}
    {% set m = maxval is defined ? max(val, maxval) : val %}
    {% set m = m|round(0, 'ceil') %}
    Hardness {{ val }}, Soak {{ maxval }}
{#    <span class="rating shields">#}
{#    {% for i in 1..m %}#}
{#        {% if i <= v %}<span class="filled">🛡</span>{% else %}<span class="empty">⬜</span>{% endif %}#}
{#    {% endfor %}#}
{#    </span>#}
{% endmacro %}