{% extends "characters/characters-base.html.twig" %}

{% block card_class %}size-half-page{% endblock %}

{% import 'characters/_characters_macros.html.twig' as R %}

{% block header_right %}
    {% set Dexterity = card.Character.Attributes.Dexterity %}
    {% set Melee = card.Character.Abilities.Melee %}
    {% set MA = card.Character.Abilities["Martial Arts"] %}
    {% set Awareness = card.Character.Attributes.Awareness %}
    {% set Wits = card.Character.Attributes.Wits %}
    {% set isRanged = true %}

    {% set Dash = max(2, Dexterity + 6 + WoundPenalty) %}
    {% set Move = max(1, Dexterity + WoundPenalty) %}

    {% set ParryDicepool = Dexterity + Melee %}
    {% set ParryDV = max(0, ParryDicepool/2 + card.Defense + WoundPenalty) %}
    {% set FullParryDV = max(0, ParryDicepool/2 + card.Defense) %}

    {# badges or specific header content (right side) #}
    <div class="card-title">{{ card.Weapon.Name }}</div>

{#    <div class="badge primary">Parry DV {{ ParryDV }}</div>#}
{#    <div class="badge secondary">Attack {{ Accuracy }}d10</div>#}
{% endblock %}

{% block card_body %}
    {% set Dexterity = card.Character.Attributes.Dexterity %}
    {% set Melee = card.Character.Abilities.Melee %}
    {% set Archery = card.Character.Abilities.Archery %}
    {% set MA = card.Character.Abilities["Martial Arts"] %}
    {% set Awareness = card.Character.Abilities.Awareness %}
    {% set Wits = card.Character.Attributes.Wits %}
    {% set isClinched = true %}
    {% set isMartial = true %}
    {% set isMelee = true %}
    {% set isClose = true %}
    {% set isRanged = true %}


    {% set Move = max(1, Dexterity + WoundPenalty) %}

    {% set BaseAttackDicepool = Dexterity + MA + card.Accuracy %}
    {% set BaseRangedAttackDicepool = Dexterity + Archery + card.Accuracy %}

    <div class="row g-2">
        {% embed 'characters/_roll_table.html.twig' with {'name': 'Parry DV'} %}
            {% block explanation %}
                [DEX({{ Dexterity }}) + MEL({{ Melee }})]/2 + Def({{ card.Defense }}) - Wnd({{ WoundPenalty }}), min 1
            {% endblock %}

            {% block table %}
                {% for WoundPenalty in WoundPenalties %}
                    {% set ParryDicepool = (Dexterity + Melee)/2|round(0, 'ceil') %}
                    {% set FullParryDV = max(0, ParryDicepool + card.Defense) %}
                    {% set ParryDV = max(0, FullParryDV + WoundPenalty) %}
                    {% embed 'characters/_action.html.twig' with {
                        'woundPenalty': WoundPenalty
                    } %}
                        {% block value %}{{ ParryDV }}{{ R.shields(ParryDV) }}{% endblock %}
                    {% endembed %}
                {% endfor %}
            {% endblock %}
        {% endembed %}

        {% embed 'characters/_roll_table.html.twig' with {'name': 'Join Battle'} %}
            {% block explanation %}
                WITS({{ Wits }}) + AWA({{ Awareness }}) - Wnd({{ WoundPenalty }}), min 1
            {% endblock %}

            {% block table %}
                {% for WoundPenalty in WoundPenalties %}
                    {% set JoinBattle = max(1, Wits + Awareness + WoundPenalty) %}
                    {% embed 'characters/_action.html.twig' with {
                        'woundPenalty': WoundPenalty,
                        'penalty': -1,
                        'speed': card.Speed,
                        'ext': -2
                    } %}
                        {% block value %}{{ JoinBattle }}d{% endblock %}
                    {% endembed %}
                {% endfor %}
            {% endblock %}
        {% endembed %}

        {% if isClose %}
            {% embed 'characters/_roll_table.html.twig' with {'name': 'Close Attack'} %}
                {% block explanation %}
                    DEX({{ Dexterity }}) + MEL({{ Melee }}) + Acc({{ card.Accuracy }}) - Wnd({{ WoundPenalty }}), min 0
                {% endblock %}

                {% block table %}
                    {% for WoundPenalty in WoundPenalties %}
                        {% set AttackDicepool = BaseAttackDicepool + WoundPenalty %}
                        {% embed 'characters/_action.html.twig' with {
                            'woundPenalty': WoundPenalty,
                            'penalty': -1,
                            'speed': card.Speed
                        } %}
                            {% block value %}{{ AttackDicepool }}{{ R.swords(AttackDicepool) }}{% endblock %}
                        {% endembed %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}

            {% embed 'characters/_roll_table.html.twig' with {'name': 'Special Close Attacks'} %}
                {% block table %}
                    <div class="x-small-stats">
                        <div class="d-flex justify-content-between"><span>Pull Blow:</span> <span>ext -1</span></div>
                        <div class="d-flex justify-content-between"><span>Showing Off:</span> <span>ext -1 to -4</span></div>
                        <div class="d-flex justify-content-between"><span>Disarm:</span><span>ext -2</span></div>
                        <div class="d-flex justify-content-between"><span>Fierce Blow:</span> <span>ext -1</span></div>
                        <div class="d-flex justify-content-between"><span>Disarm:</span> <span>ext -2</span></div>
                    </div>
                {% endblock %}
            {% endembed %}
        {% endif %}

        {% if isRanged %}
            {% embed 'characters/_roll_table.html.twig' with {'name': 'Ranged Attack'} %}
                {% block explanation %}
                    DEX({{ Dexterity }}) + ARC({{ Archery }}) + Acc({{ card.Accuracy }}) - Wnd({{ WoundPenalty }}), min 0
                {% endblock %}

                {% block table %}
                    {% for WoundPenalty in WoundPenalties %}
                        {% set AttackDicepool = BaseRangedAttackDicepool + WoundPenalty %}
                        {% embed 'characters/_action.html.twig' with {
                            'woundPenalty': WoundPenalty,
                            'penalty': -1,
                            'speed': card.Speed
                        } %}
                            {% block value %}{{ AttackDicepool }}{{ R.swords(AttackDicepool) }}{% endblock %}
                        {% endembed %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}

            {% embed 'characters/_roll_table.html.twig' with {'name': 'Special Ranged Attacks'} %}
                {% block table %}
                    <div class="x-small-stats">
                        <div class="d-flex justify-content-between"><span>Pull Blow:</span> <span>ext -1</span></div>
                        <div class="d-flex justify-content-between"><span>Showing Off:</span> <span>ext -1 to -4</span></div>
                        <div class="d-flex justify-content-between"><span>Disarm:</span><span>ext -4</span></div>
                        <div class="d-flex justify-content-between"><span>Fierce Blow:</span> <span>ext -1</span></div>
                        <div class="d-flex justify-content-between"><span>Disarm:</span> <span>ext -4</span></div>
                    </div>
                {% endblock %}
            {% endembed %}
        {% endif %}

        {% if isClinched %}
            {% embed 'characters/_roll_table.html.twig' with {'name': 'Clinch'} %}
                {% block explanation %}
                    DEX({{ Dexterity }}) + MA({{ MA }}) + Acc({{ card.Accuracy }}) - Wnd({{ WoundPenalty }}), min 0
                {% endblock %}

                {% block table %}
                    {% for WoundPenalty in WoundPenalties %}
                        {% set AttackDicepool = BaseAttackDicepool + WoundPenalty %}
                        {% embed 'characters/_action.html.twig' with {
                            'woundPenalty': WoundPenalty,
                            'penalty': -1,
                            'speed': card.Speed
                        } %}
                            {% block value %}{{ AttackDicepool }}{{ R.swords(AttackDicepool) }}{% endblock %}
                        {% endembed %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endif %}

        {% embed 'characters/_roll_table.html.twig' with {'name': 'Dash'} %}
            {% block explanation %}
                WITS({{ Wits }}) + AWA({{ Awareness }}) - Wnd({{ WoundPenalty }}), min 1
            {% endblock %}

            {% block table %}
                {% for WoundPenalty in WoundPenalties %}
                    {% set Dash = max(2, Dexterity + 6 + WoundPenalty) %}
                    {% embed 'characters/_action.html.twig' with {
                        'woundPenalty': WoundPenalty,
                        'penalty': -2,
                        'speed': 3,
                    } %}
                        {% block value %}{{ Dash }}y{% endblock %}
                    {% endembed %}
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}

{% block footer_left %}
    {{ R.shields(ParryDV, FullParryDV) }}
{% endblock %}

{% block footer_center %}{% endblock %}

{% block footer_right %}
    {{ R.swords(Accuracy) }}
{% endblock %}