{% extends "characters/characters-base.html.twig" %}

{% import 'characters/_characters_macros.html.twig' as R %}

{% block badges %}
{#    {% set Dexterity = card.Character.Attributes.Dexterity %}#}
{#    {% set Melee = card.Character.Abilities.Melee %}#}
{#    {% set Awareness = card.Character.Attributes.Awareness %}#}
{#    {% set Wits = card.Character.Attributes.Wits %}#}

{#    {% set Dash = max(2, Dexterity + 6 + WoundPenalty) %}#}
{#    {% set Move = max(1, Dexterity + WoundPenalty) %}#}
{#    {% set ParryDV = max(1, Dexterity + Melee + card.Defense + WoundPenalty) %}#}

{#    {% set Accuracy = max(0, card.Accuracy + Melee + WoundPenalty) %}#}

{#    <div class="badge primary">Parry DV {{ ParryDV }}</div>#}
{#    <div class="badge secondary">Attack {{ Accuracy }}d10</div>#}
{% endblock %}

{% block card_body %}
    {% set Dexterity = card.Attributes.Dexterity %}
    {% set Melee = card.Abilities.Melee %}
    {% set Awareness = card.Attributes.Awareness %}
    {% set Wits = card.Attributes.Wits %}
    {% set Stamina = card.Attributes.Stamina %}
    {% set Resistance = card.Abilities.Resistance %}
    {% set SteRes = Stamina + Resistance + WoundPenalty %}

    <div class="row g-2">
        <div class="col-6">
            <h6 class="border-bottom pb-1 mb-1">Per Day</h6>
            <div class="mb-2">
                <strong>Infection Resist:</strong>
                <div class="small fw-bold">{{ SteRes }}d</div>
                <div class="x-small-stats text-muted">STA({{ Stamina }}) + RES({{ Resistance }}) + WP({{ WoundPenalty }})</div>
            </div>
        </div>

        <div class="col-6 border-start ps-2">
            <h6 class="border-bottom pb-1 mb-1">Per Hour</h6>
            <div class="mb-2">
                <strong>Fatigue Resist:</strong>
                <div class="small fw-bold">{{ SteRes }}d</div>
                <div class="x-small-stats text-muted">STA({{ Stamina }}) + RES({{ Resistance }}) + WP({{ WoundPenalty }})</div>
            </div>
        </div>
    </div>
{% endblock %}