{% extends "characters/characters-base.html.twig" %}

{% import 'characters/_characters_macros.html.twig' as R %}

{% block card_class %}size-half-page{% endblock %}

{% block header_right %}
  {% if card.Caste %}<div class="badge primary">{{ card.Caste }}</div>{% endif %}
  {% if card.Concept %}<div class="badge secondary">{{ card.Concept }}</div>{% endif %}
{% endblock %}

{% block card_body %}
  {% set max_rating = max(5, card.Essence) %}
  {% set max_essence = max(5, card.Essence) %}
  {% set max_willpower = 10 %}
  {% set max_virtue = 5 %}

  {% set Dexterity = card.Attributes.Dexterity %}
  {% set Perception = card.Attributes.Perception %}
  {% set Wits = card.Attributes.Wits %}

  {% set Survival = card.Abilities.Survival %}
  {% set Melee = card.Abilities.Melee %}
  {% set MA = card.Abilities["Martial Arts"] %}
  {% set Awareness = card.Abilities.Awareness %}
  {% set Sail = card.Abilities.Sail %}

  <div class="row row-cols-3 g-2">
    {{ R.columnBlockStats("Core", card, ["Essence", "Willpower"], 10, true) }}
    {{ R.columnBlockStats("Physical", card.Attributes, ["Strength", "Dexterity", "Stamina"], max_rating) }}
    {{ R.columnBlockStats("Social", card.Attributes, ["Charisma", "Manipulation", "Appearance"], max_rating) }}
    {{ R.columnBlockStats("Mental", card.Attributes, ["Perception", "Intelligence", "Wits"], max_rating) }}
    {{ R.columnBlockStats("Virtues", card.Virtues, ["Compassion", "Conviction", "Temperance", "Valor"], max_virtue) }}
    {{ R.columnBlockStats("Dawn", card.Abilities, ["Archery", "Thrown", "Martial Arts", "War", "Melee"], max_rating) }}
    {{ R.columnBlockStats("Zenith", card.Abilities, ["Integrity", "Performance", "Presence", "Resistance", "Survival"], max_rating) }}
    {{ R.columnBlockStats("Night", card.Abilities, ["Athletics", "Awareness", "Dodge", "Larceny", "Stealth"], max_rating) }}
    {{ R.columnBlockStats("Eclipse", card.Abilities, ["Bureaucracy", "Linguistics", "Ride", "Sail", "Socialize"], max_rating) }}
    {{ R.columnBlockStats("Twilight", card.Abilities, ["Craft", "Investigation", "Lore", "Medicine", "Occult"], max_rating) }}
  </div>

  {% embed 'characters/_roll_table.html.twig' with {'name': 'Predict Weather on Land'} %}
    {% block explanation %}
      PER({{ Perception }}) + SUR({{ Survival }}) - Wnd({{ WoundPenalty }}), min 1
    {% endblock %}

    {% block table %}
      {% for WoundPenalty in WoundPenalties %}
        {% set Weather = max(1, Perception + Survival + WoundPenalty) %}
        {% embed 'characters/_roll.html.twig' with {
          'woundPenalty': WoundPenalty,
          'difficulty': '2-5',
          'dice': Weather,
        } %}
        {% endembed %}
      {% endfor %}
    {% endblock %}
  {% endembed %}

  {% embed 'characters/_roll_table.html.twig' with {'name': 'Predict Weather on Sea'} %}
    {% block explanation %}
      PER({{ Perception }}) + SAI({{ Sail }}) - Wnd({{ WoundPenalty }}), min 1
    {% endblock %}

    {% block table %}
      {% for WoundPenalty in WoundPenalties %}
        {% set Weather = max(1, Perception + Sail + WoundPenalty) %}
        {% embed 'characters/_roll.html.twig' with {
          'woundPenalty': WoundPenalty,
          'difficulty': '2-5',
          'dice': Weather,
        } %}
        {% endembed %}
      {% endfor %}
    {% endblock %}
  {% endembed %}

{% endblock %}