{% extends "characters/characters-base.html.twig" %}

{% import 'characters/_characters_macros.html.twig' as R %}

{#{% block card_class %}size-half-page{% endblock %}#}

{% block header_right %}
  {% if card.Caste %}<div class="badge primary">{{ card.Caste }}</div>{% endif %}
  {% if card.Concept %}<div class="badge secondary">{{ card.Concept }}</div>{% endif %}
{% endblock %}

{% block card_body %}
  {% set max_rating = max(5, card.Essence) %}
  {% set max_essence = max(5, card.Essence) %}
  {% set max_willpower = 10 %}
  {% set max_virtue = 5 %}

  <div class="grid grid-3">
    {{ R.columnBlockStats("Core", card, ["Essence", "Willpower"], 10, true) }}
    {{ R.columnBlockStats("Physical", card.Attributes, ["Strength", "Dexterity", "Stamina"], max_rating) }}
    {{ R.columnBlockStats("Social", card.Attributes, ["Charisma", "Manipulation", "Appearance"], max_rating) }}
    {{ R.columnBlockStats("Mental", card.Attributes, ["Perception", "Intelligence", "Wits"], max_rating) }}
    {{ R.columnBlockStats("Virtues", card.Virtues, ["Compassion", "Conviction", "Temperance", "Valor"], max_virtue) }}
    {{ R.columnBlockStats("Dawn", card.Abilities, ["Archery", "Thrown", "Martial Arts", "War", "Melee"], max_rating) }}
    {{ R.columnBlockStats("Zenith", card.Abilities, ["Integrity", "Performance", "Presence", "Resistance", "Survival"], max_rating) }}
    {{ R.columnBlockStats("Night", card.Abilities, ["Athletics", "Awareness", "Dodge", "Larceny", "Stealth"], max_rating) }}
    {{ R.columnBlockStats("Eclipse", card.Abilities, ["Bureaucracy", "Linguistics", "Ride", "Sail", "Socialize"], max_rating) }}
    {{ R.columnBlockStats("Twilight", card.Abilities, ["Craft", "Investigation", "Lore", "Medicine", "Occult"], max_rating) }}
  </div>

{% endblock %}