{% extends "characters/characters-base.html.twig" %}

{% block card_class %}size-half-page{% endblock %}

{% import 'characters/_characters_macros.html.twig' as R %}

{% block header_right %}
    <div class="card-title">{{ card.Armor.Name }}</div>
{% endblock %}

{% block card_body %}
    {% import _self as local %}
    {% set Dexterity = card.Character.Attributes.Dexterity %}
    {% set Stamina = card.Character.Attributes.Stamina %}
    {% set Athletics = card.Character.Abilities.Athletics %}
    {% set Resistance = card.Character.Abilities.Resistance %}
    {% set Dodge = card.Character.Abilities.Dodge %}
    {% set Essence = card.Character.Essence %}

    {% set DDVDicePool = Dexterity + Dodge + Essence %}

    {% set FullDDV = max(0, DDVDicePool/2) %}

    {% set KnockDownLimit = Stamina + Resistance + WoundPenalty %}
    {% set KnockDownDicepool = max(Dexterity, Stamina) + max(Resistance, Athletics) + WoundPenalty %}
    <div class="row row-cols-4 g-1 align-items-stretch">
        {% embed 'characters/_roll_table.html.twig' with {'name': 'Knockdown resist'} %}
            {% block explanation %}
                DEX({{ Dexterity }})&uparrow;STA({{ Stamina }}) + ATH({{ Athletics }})&uparrow;RES({{ Resistance }}) - Wnd({{ WoundPenalty }}), min 1
            {% endblock %}

            {% block table %}
                {% for WoundPenalty in WoundPenalties %}
                    {% embed 'characters/_roll.html.twig' with {
                        'dice': KnockDownDicepool+WoundPenalty,
                        'difficulty': 2,
                        'woundPenalty': WoundPenalty
                    } %}
                    {% endembed %}
                {% endfor %}
            {% endblock %}
        {% endembed %}


        {% set StunLimit = Stamina + WoundPenalty %}
        {% set StunDicepool = Stamina + Resistance + WoundPenalty %}
        {% embed 'characters/_roll_table.html.twig' with {'name': 'Stun resist'} %}
            {% block explanation %}
                STA({{ Stamina }}) + RES({{ Resistance }} - Wnd({{ WoundPenalty }}), min 1
            {% endblock %}

            {% block table %}
                {% for WoundPenalty in WoundPenalties %}
                    {% embed 'characters/_roll.html.twig' with {
                        'dice': StunDicepool+WoundPenalty,
                        'difficulty': 'see table',
                        'woundPenalty': WoundPenalty
                    } %}
                    {% endembed %}
                {% endfor %}
            {% endblock %}
        {% endembed %}


        {% embed 'characters/_roll_table.html.twig' with {'name': 'Move'} %}
            {% block explanation %}
                DEX({{ Dexterity }} - Wnd({{ WoundPenalty }}), min 1
            {% endblock %}

            {% block table %}
                {% for WoundPenalty in WoundPenalties %}
                    {% set MoveDistance = max(1, Dexterity + WoundPenalty + card.Mobility) %}
                    {% embed 'characters/_action.html.twig' with {
                        'penalty': '-0',
                        'speed': 1,
                        'woundPenalty': WoundPenalty
                    } %}
                        {% block value %}{{ MoveDistance }}y{% endblock %}
                    {% endembed %}
                {% endfor %}
            {% endblock %}
        {% endembed %}

        {% embed 'characters/_roll_table.html.twig' with {'name': 'Dodge DV'} %}
            {% block explanation %}
                [DEX({{ Dexterity }}) + DOD({{ Dodge }}) + ESS({{ Essence }})]/2 - Wnd({{ WoundPenalty }}), min 1
            {% endblock %}

            {% block table %}
                {% for WoundPenalty in WoundPenalties %}
                    {% set DDVpool = (DDVDicePool/2)|round(0, 'ceil') %}
                    {% set DDV = max(0, DDVpool + WoundPenalty) %}
                    {% set MoveDistance = max(1, Dexterity + WoundPenalty + card.Mobility) %}
                    {% embed 'characters/_action.html.twig' with {
                        'woundPenalty': WoundPenalty
                    } %}
                        {% block value %}{{ DDV }}{{ R.shields(DDV, 10) }}{% endblock %}
                    {% endembed %}
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>

    {% set BHard = card.BHard %}
    {% set BSoak = card.BSoak + Stamina %}
    {% set LHard = card.LHard %}
    {% set LSoak = card.LSoak + (Stamina/2)|round(0, 'floor') %}
    {% set AHard = card.LHard %}
    {% set ASoak = card.LSoak %}

    <div class="col-12 border-start ps-2">
        <div class="row g-1">
            <div class="col-3">
                <h6 class="border-bottom pb-1 mb-1 x-small-stats text-truncate">Take Hit</h6>
                <table class="table table-sm table-striped x-small-stats mb-0">
                    <thead><tr><th>Raw</th><th>Fly</th></tr></thead>
                    <tbody>
                        {% for raw in range(1, 15) %}
                            {% set fly = (raw/3)|round(0, 'floor') %}
                            <tr>
                                <td>{{ raw }}</td>
                                <td>
                                    {% if fly > 0 %}{{ fly }}y{% endif %}
                                    {% if raw > KnockDownLimit %}K{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-3">
                <h6 class="border-bottom pb-1 mb-1 x-small-stats text-truncate">B: {{ BSoak }}/{{ BHard }}</h6>
                {{ local.damageTables(StunLimit, BHard, BSoak) }}
            </div>
            <div class="col-3">
                <h6 class="border-bottom pb-1 mb-1 x-small-stats text-truncate">L: {{ LSoak }}/{{ LHard }}</h6>
                {{ local.damageTables(StunLimit, LHard, LSoak) }}
            </div>
            <div class="col-3">
                <h6 class="border-bottom pb-1 mb-1 x-small-stats text-truncate">Stun</h6>
                <table class="table table-sm table-striped x-small-stats mb-0">
                    <thead><tr><th>DMG</th><th>Diff</th></tr></thead>
                    <tbody>
                        {% for raw in range(1, 15) %}
                            <tr>
                                <td>{{ raw }}</td>
                                <td>{% if raw > StunLimit %}{{ raw - StunLimit }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_left %}
    {% set Dexterity = card.Character.Attributes.Dexterity %}
    {% set Dodge = card.Character.Abilities.Dodge %}
    {% set Essence = card.Character.Essence %}
    {% set DDVDicePool = Dexterity + Dodge + Essence %}
    {% set DDV = max(0, DDVDicePool/2 + WoundPenalty) %}
    {% set FullDDV = max(0, DDVDicePool/2) %}
    {{ R.shields(DDV, FullDDV) }}
{% endblock %}

{% block footer_center %}{% endblock %}

{% block footer_right %}
    {# Show soak values for three damage types #}
    {% set Stamina = card.Character.Attributes.Stamina %}
    {% set BHard = card.BHard %}
    {% set BSoak = card.BSoak + Stamina %}
    {% set LHard = card.LHard %}
    {% set LSoak = card.LSoak + (Stamina/2)|round(0, 'floor') %}
    {% set AHard = card.LHard %}
    {% set ASoak = card.LSoak %}
    <span class="badge text-bg-light border text-dark">B: {{ R.soak(BHard, BSoak) }}</span>
    <span class="badge text-bg-light border text-dark">L: {{ R.soak(LHard, LSoak) }}</span>
    <span class="badge text-bg-light border text-dark">A: {{ R.soak(AHard, ASoak) }}</span>
{% endblock %}

{% macro damageTables(StunLimit, hard, soak) %}
    <table class="table table-sm table-striped x-small-stats mb-0">
    <thead>
    <tr>
        <th>Post H.</th>
        <th>Post S.</th>
        {% if extras == true %}<th>Calc</th>{% endif %}
    </tr>
    </thead>
    <tbody>
    {% for raw in range(1, 15) %}
        {% if raw > hard %}
            {% set postHardness = raw %}
        {% else %}
            {% set postHardness = 0 %}
        {% endif %}

        {% if postHardness > soak %}
            {% set postSoak = postHardness - soak %}
        {% else %}
            {% set postSoak = null %}
        {% endif %}
        {% set guessedRealDMG = (postSoak/3)|round(0, 'ceil') %}

        <tr class="{{ loop.index is odd ? 'odd' : 'even' }}">
            <td>{{ postHardness }}</td>
            {% if postHardness > 0 %}
                {% if postSoak != null %}<td>{{ postSoak }}</td>{% else %}<td>min</td>{% endif %}
                {% if extras == true %}<td>{{ guessedRealDMG }}</td>{% endif %}
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endmacro %}