{% extends "characters/characters-base.html.twig" %}

{% import 'characters/_characters_macros.html.twig' as R %}

{% block badges %}
    {% set Dexterity = card.Character.Attributes.Dexterity %}
    {% set Dodge = card.Character.Abilities.Dodge %}
    {% set Essence = card.Character.Essence %}

    {% set DDVDicePool = Dexterity + Dodge + Essence %}
    {% set DDV = max(0, DDVDicePool/2 + WoundPenalty) %}
    {% set FullDDV = max(0, DDVDicePool/2) %}

    <div class="badge primary">Dodge DV {{ DDV }}</div>
{% endblock %}

{% block card_body %}
    {% set Dexterity = card.Character.Attributes.Dexterity %}
    {% set Dodge = card.Character.Abilities.Dodge %}
    {% set Essence = card.Character.Essence %}

    {% set DDVDicePool = Dexterity + Dodge + Essence %}
    {% set DDV = max(0, DDVDicePool/2 + WoundPenalty) %}
    {% set FullDDV = max(0, DDVDicePool/2) %}

    <div class="stat-group">
        <h3>{{ R.shields(DDV, FullDDV) }}</h3>
        <div class="stat-row">
            <div class="stat-label">[DEX({{ Dexterity }}) + Dodge({{ Dodge }}) + Essence({{ Essence }})]/2 - Wound Penalty({{ WoundPenalty }}), min 1</div>
        </div>

        <h3>Actions</h3>
        <div class="stat-row">
            <div class="stat-label">Move</div>
            <div class="stat-value">{{ max(1, Dexterity + WoundPenalty + card.Mobility) }}y per tick/DV(0)</div>
            <div class="stat-label">
                [DEX({{ Dexterity }}) + Dodge({{ Dodge }}) + Essence({{ Essence }})]/2 - Wound Penalty({{ WoundPenalty }}), min 1
            </div>
        </div>
    </div>

    <div class="stats-grid">
        <div class="stat-group">
            <h3>Take Bashing Hit</h3>
            <table class="speed-table">
                <tr>
                    <th>Raw</th>
                    <th>Pre S</th>
                    <th>Post S</th>
                    <th>Calc</th>
                </tr>
                {% for raw in range(1, 20) %}
                    {% if raw > card.BHard %}
                        {% set preSoak = raw %}
                    {% else %}
                        {% set preSoak = 0 %}
                    {% endif %}

                    {% if preSoak > card.BSoak %}
                        {% set postSoak = preSoak - card.BSoak %}
                    {% else %}
                        {% set postSoak = 1 %}
                    {% endif %}

                    <tr class="">
                        <td>{{ raw }}</td>
                        <td>{{ preSoak }}</td>
                        <td>{{ postSoak }}</td>
                        <td>{{ (postSoak/3)|round }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}