{% extends "characters/characters-base.html.twig" %}

{% block card_class %}size-half-page{% endblock %}

{% import 'characters/_characters_macros.html.twig' as R %}

{% block header_right %}
    <div class="card-title">{{ card.Name }}</div>
{% endblock %}

{% block card_body %}
    {% import _self as local %}
    {% set Dexterity = card.Character.Attributes.Dexterity %}
    {% set Stamina = card.Character.Attributes.Stamina %}
    {% set Athletics = card.Character.Abilities.Athletics %}
    {% set Resistance = card.Character.Abilities.Resistance %}
    {% set Dodge = card.Character.Abilities.Dodge %}
    {% set Essence = card.Character.Essence %}



    {% set DDVDicePool = Dexterity + Dodge + Essence %}
    {% set DDV = max(0, DDVDicePool/2 + WoundPenalty) %}
    {% set FullDDV = max(0, DDVDicePool/2) %}

    {% set KnockDownLimit = Stamina + Resistance + WoundPenalty %}
    {% set KnockDownDicepool = max(Dexterity, Stamina) + max(Resistance, Athletics) + WoundPenalty %}
    {% embed 'characters/_roll.html.twig' with {'name': 'Knockdown resist', 'dice': KnockDownDicepool, 'difficulty': 2} %}
        {% block explanation %}
            DEX({{ Dexterity }})&uparrow;STA({{ Stamina }}) + ATH({{ Athletics }})&uparrow;RES({{ Resistance }}) - WP({{ WoundPenalty }}), min 1
        {% endblock %}
    {% endembed %}

    {% set StunLimit = Stamina + WoundPenalty %}
    {% set StunDicepool = Stamina + Resistance + WoundPenalty %}
    {% embed 'characters/_roll.html.twig' with {'name': 'Stun resist', 'dice': StunDicepool, 'difficulty': 'table'} %}
        {% block explanation %}
            STA({{ Stamina }}) + RES({{ Resistance }} - WP({{ WoundPenalty }}), min 1
        {% endblock %}
    {% endembed %}

    {% set MoveDistance = max(1, Dexterity + WoundPenalty + card.Mobility) %}
    {% embed 'characters/_action.html.twig' with {'name': 'Move', 'penalty': 0, 'speed': 1} %}
        {% block value %}{{ MoveDistance }}y{% endblock %}
        {% block explanation %}
            [DEX({{ Dexterity }}) + DOD({{ Dodge }}) + ESS({{ Essence }})]/2 - WP({{ WoundPenalty }}), min 1
        {% endblock %}
    {% endembed %}

    {% embed 'characters/_action.html.twig' with {'name': 'Parry DV'} %}
        {% block value %}{{ R.shields(DDV, FullDDV) }}{% endblock %}
        {% block explanation %}
            [DEX({{ Dexterity }}) + DOD({{ Dodge }}) + ESS({{ Essence }})]/2 - WP({{ WoundPenalty }}), min 1
        {% endblock %}
    {% endembed %}

    {% set BHard = card.BHard %}
    {% set BSoak = card.BSoak + Stamina %}
    {% set LHard = card.LHard %}
    {% set LSoak = card.LSoak + (Stamina/2)|round(0, 'floor') %}
    {% set AHard = card.LHard %}
    {% set ASoak = card.LSoak %}

    <div class="stats-grid">
        <div class="stat-group">
            <h3>Take Raw Hit</h3>
            <table class="speed-table">
                <tr>
                    <th>Raw</th>
                    <th>Fly</th>
                </tr>

                {% for raw in range(1, 20) %}
                    {% set fly = (raw/3)|round(0, 'floor') %}
                    <tr class="{{ loop.index is odd ? 'odd' : 'even' }}">
                        <td>
                            {{ raw }}
                            {% if raw > KnockDownLimit %}K{% endif %}
                        </td>
                        <td>{% if fly > 0 %}{{ fly }}y{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="stats-grid">
        <div class="stat-group">
            <h3>B: {{ R.soak(BHard, BSoak) }}</h3>
            {{ local.damageTables(raw, StunLimit, card.BHard, card.BSoak, false) }}
        </div>
    </div>
    <div class="stats-grid">
        <div class="stat-group">
            <h3>L: {{ R.soak(LHard, LSoak) }}</h3>
            {{ local.damageTables(raw, StunLimit, card.LHard, card.LSoak, false) }}
        </div>
    </div>
    <div class="stats-grid">
        <div class="stat-group">
            <h3>A: {{ R.soak(AHard, ASoak) }}</h3>
            {{ local.damageTables(raw, StunLimit, card.AHard, card.ASoak, false) }}
        </div>
    </div>
    <div class="stats-grid">
        <div class="stat-group">
            <h3>Stun</h3>
            <table class="speed-table">
                <tr>
                    <th>DMG</th>
                    <th>Difficulty</th>
                </tr>

                {% for raw in range(1, 20) %}
                    <tr class="{{ loop.index is odd ? 'odd' : 'even' }}">
                        <td>{{ raw }}</td>
                        <td>{% if raw > StunLimit %}S diff {{ raw - StunLimit }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{% block footer_left %}
    {% set Dexterity = card.Character.Attributes.Dexterity %}
    {% set Dodge = card.Character.Abilities.Dodge %}
    {% set Essence = card.Character.Essence %}
    {% set DDVDicePool = Dexterity + Dodge + Essence %}
    {% set DDV = max(0, DDVDicePool/2 + WoundPenalty) %}
    {% set FullDDV = max(0, DDVDicePool/2) %}
    {{ R.shields(DDV, FullDDV) }}
{% endblock %}

{% block footer_center %}{% endblock %}

{% block footer_right %}
    {# Show soak values for three damage types #}
    {% set Stamina = card.Character.Attributes.Stamina %}
    {% set BHard = card.BHard %}
    {% set BSoak = card.BSoak + Stamina %}
    {% set LHard = card.LHard %}
    {% set LSoak = card.LSoak + (Stamina/2)|round(0, 'floor') %}
    {% set AHard = card.LHard %}
    {% set ASoak = card.LSoak %}
    <span class="badge tertiary">B: {{ R.soak(BHard, BSoak) }}</span>
    <span class="badge tertiary">L: {{ R.soak(LHard, LSoak) }}</span>
    <span class="badge tertiary">A: {{ R.soak(AHard, ASoak) }}</span>
{% endblock %}

{% macro damageTables(raw, StunLimit, hard, soak, index, extras) %}
    <table class="speed-table">
        <tr>
            <th>Pre S</th>
            <th>Post S</th>
            {% if extras == true %}
                <th>Calc</th>{% endif %}
        </tr>

        {% for raw in range(1, 20) %}
            {% if raw > hard %}
                {% set preSoak = raw %}
            {% else %}
                {% set preSoak = 0 %}
            {% endif %}

            {% if preSoak > soak %}
                {% set postSoak = preSoak - soak %}
            {% else %}
                {% set postSoak = 1 %}
            {% endif %}
            {% set guessedRealDMG = (postSoak/3)|round(0, 'ceil') %}

            <tr class="{{ loop.index is odd ? 'odd' : 'even' }}">
                <td>{{ preSoak }}</td>
                <td>{{ postSoak }}</td>
                {% if extras == true %}
                    <td>{{ guessedRealDMG }}</td>{% endif %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}